# Unity generated folders
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Tt]est[Rr]esults/
[Uu]ser[Ss]ettings/

# Unreal Engine generated folders
Binaries/
DerivedDataCache/
Intermediate/
Saved/
*.sln
*.suo
*.opensdf
*.sdf
*.VC.db
*.VC.opendb
DefaultEditorPerProjectUserSettings.ini

# IDE files
.vs/
.idea/
*.csproj
*.sln
*.user
*.userprefs

# OS files
.DS_Store
Thumbs.db

# Local tooling
.superpowers/brainstorm/
